.container {
	width: 80%;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
[class^="col-"],
[class*=" col-"] {
	position: relative;
	flex: 0 0 100%;
	max-width: 100%;
	min-height: 1px;
}
@include between(0, $screen-medium) {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	[class^="col-"],
	[class*=" col-"] {
		padding-left: 0;
		padding-right: 0;
	}

	[class^="col-"],
	[class*=" col-"] {
		width: 100%;
		flex: 0 0 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
@include at-least($screen-medium) {
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
	[class^="col-"],
	[class*=" col-"] {
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-1 {
		flex: 0 0 8.3333333333%;
		max-width: 8.3333333333%;
	}
	.col-2 {
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
	}
	.col-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-4 {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}
	.col-5 {
		flex: 0 0 41.6666666667%;
		max-width: 41.6666666667%;
	}
	.col-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-7 {
		flex: 0 0 58.3333333333%;
		max-width: 58.3333333333%;
	}
	.col-8 {
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}
	.col-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-10 {
		flex: 0 0 83.3333333333%;
		max-width: 83.3333333333%;
	}
	.col-11 {
		flex: 0 0 91.6666666667%;
		max-width: 91.6666666667%;
	}
	.col-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.col-offset-1 {
		margin-left: 8.3333333333%;
	}
	.col-offset-2 {
		margin-left: 16.6666666667%;
	}
	.col-offset-3 {
		margin-left: 25%;
	}
	.col-offset-4 {
		margin-left: 33.3333333333%;
	}
	.col-offset-5 {
		margin-left: 41.6666666667%;
	}
	.col-offset-6 {
		margin-left: 50%;
	}
	.col-offset-7 {
		margin-left: 58.3333333333%;
	}
	.col-offset-8 {
		margin-left: 66.6666666667%;
	}
	.col-offset-9 {
		margin-left: 75%;
	}
	.col-offset-10 {
		margin-left: 83.3333333333%;
	}
	.col-offset-11 {
		margin-left: 91.6666666667%;
	}
	.col-offset-12 {
		margin-left: 100%;
	}
}
.flex {
	display: flex;
	@include between(0, $screen-medium) {
		display: block;
	}
}
.justify-space-around {
	justify-content: space-around;
}
.justify-space-between {
	justify-content: space-between;
}
.text-align-center {
	text-align: center;
}
.margin-0-t {
	margin-top: 0;
}
.margin-0-b {
	margin-bottom: 0;
}
.margin-0-tb {
	margin-top: 0;
	margin-bottom: 0;
}
.margin-1-t {
	margin-top: 10px;
}
.margin-1-b {
	margin-bottom: 10px;
}
.margin-2-t {
	margin-top: 20px;
}
.margin-2-t-md-up {
	@include at-least($screen-medium) {
		margin-top: 20px;
	}
}
.margin-2-tb {
	margin-top: 20px;
	margin-bottom: 20px;
}
.margin-2-b {
	margin-bottom: 20px;
}
.margin-2-b-mobile {
	@include between(0, $screen-medium) {
		margin-bottom: 20px;
	}
}
.margin-3-t {
	margin-top: 30px;
}
.margin-3-b {
	margin-bottom: 30px;
}
.margin-3-tb {
	margin-top: 30px;
	margin-bottom: 30px;
}
.pad {
	padding: 30px;
}
.pad-0 {
	padding: 0 0;
}
.pad-0-l {
	padding-left: 0;
}
.pad-0-lr {
	padding-right: 0;
	padding-left: 0;
}
.pad-1-t {
	padding-top: 10px;
}
.pad-1-l {
	padding-left: 10px;
}
.pad-1-b {
	padding-bottom: 10px;
}
.pad-2-t {
	padding-top: 20px;
}
.pad-2-b {
	padding-bottom: 20px;
}
.pad-2-l {
	padding-left: 20px;
}
.pad-3-t {
	padding-top: 30px;
}
.pad-3-r {
	padding-right: 30px;
}
.pad-3-l {
	padding-left: 30px;
}
.pad-3-l-md-up {
	@include at-least($screen-medium) {
		padding-left: 30px;
	}
}
.pad-lr {
	padding-right: 30px;
	padding-left: 30px;
}
.hide {
    display: none;
}
.clear {
	clear: both;
}
.overflow-auto {
	overflow: auto;
}
.hide-small {
    @include between(0, $screen-small) {
        display: none;
    }
}
.hide-medium {
    @include between($screen-small, $screen-large) {
        display: none;
    }
}
.hide-large {
    @include at-least($screen-large) {
        display: none;
    }
}