@import "fonts";
@import "mixins";
@import "grid";
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
html,
button,
input,
select,
textarea {
	color: black;
}
body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 0;
	font-size: $font-size;
	line-height: 1.4;
	font-family: 'Montserrat', 'helvetica-neue', 'arial', sans-serif;
}
form {
	div {
		position: relative;

		input,
		textarea {
			font: 18px/24px 'Montserrat';
			border-top: 5px solid white;
			border-right: 5px solid white;
			border-bottom: 5px solid white;
			border-left: 5px solid white;
			outline: none;
			background: white;
			color: black;

			&:focus {
				border: 5px solid $pink;
				outline: none;
				background: black;
				color: white;
			}

			+ span {
				position: absolute;
				bottom: 0;
				left: 10px;
				width: 5px;
				height: 100%;
				background: $pink;

				@include between(0, $screen-medium) {
					left: 0;
				}
			}
		}
		input {
			padding: 10px;
		}
		textarea {
			display: block;
			height: 200px;
			padding: 10px;
			resize: vertical;

			+ span {
				left: 0;
			}
		}
	}
}
button {
	padding: 10px;
	font: 20px/24px $font-family;
	cursor: pointer;
	border: 5px solid black;
	color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family;
	font-weight: 900;
	text-transform: uppercase
}
h1 {
	font-size: $font-size+18;

	@include between(0, $screen-medium) {
		font-size: $font-size+7;
	}
}
h2 {
	font-size: $font-size+2;

	@include between(0, $screen-medium) {
		font-size: $font-size+4;
	}
}
h3 {
	font-size: $font-size+1;

	@include between(0, $screen-medium) {
		font-size: $font-size*.9;
	}
}
h4 {
	font-size: $font-size;

	@include between(0, $screen-medium) {
		font-size: $font-size*.8;
	}
}
h5 {
	font-size: $font-size*.9;

	@include between(0, $screen-medium) {
		font-size: $font-size*.7;
	}
}
p {
	font-size: $font-size+1;
	font-weight: 600;
	font-family: 'Montserrat';

	@include between(0, $screen-medium) {
		font-size: $font-size*.9;
	}
}
ul {
	font-size: $font-size+1;

	@include between(0, $screen-medium) {
		margin: 0 0;
		padding-left: 10px;
		font-size: $font-size*.9;
	}
}

header {
	display: flex;
	position: absolute;
	top: 1%;
	left: 2.5%;
    width: 95%;
    height: 6%;
    margin: 0 auto;
	justify-content: space-between;
	align-items: flex-end;
	background: black;
	color: white;

	@include between(0, $screen-medium) {
		left: 4%;
		width: 94%;
		height: 4%;
	}

	section {
		align-items: flex-end;
	}
	a {
		text-decoration: none;
		color: white;
	}

	.kp {
		width: auto;
		height: 30px;
		margin: 0 0;
		padding: 0 0;
		font-size: $font-size+14;
		font-family: 'Montserrat';
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;

		@include between(0, $screen-medium) {
			height: 25px;
			font-size: $font-size+11;
		}

		&:hover {
			.name-expand {
				width: 140px;
				&:last-child {
					width: 200px;
				}
			}
		}
		.name-expand {
			display: inline-block;
			width: 0;
			height: 31px;
			overflow: hidden;
		    transition: width .5s linear;

		    @include between(0, $screen-medium) {
				height: 25px;
			}
		}
	}
	.find-me {
		position: relative;
		top: 10px;
		i {
			font-size: $font-size+14;

			@include between(0, $screen-medium) {
				font-size: 25px;
			}
		}
	}
}

nav {
	position: absolute;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: flex-end;

	a {
		position: absolute;
		display: flex;
		height: 100%;
		width: 4%;
		left: auto;
		right: auto;
		justify-content: center;
		align-items: center;
		z-index: 11;
		color: white;

		@include between(0, $screen-medium) {
			width: 100%;
			height: 6%;
		}

		&.home {
			right: 0;
			background: $purple;

			@include between(0, $screen-medium) {
				top: 0;
			}
		}
		&.portfolio {
			left: 8%;
			background: $yellow;

			@include between(0, $screen-medium) {
				top: 82%;
				left: 0;
			}
		}
		&.about {
			left: 4%;
			background: $blue;

			@include between(0, $screen-medium) {
				top: 88%;
				left: 0;
			}
		}
		&.contact {
			left: 0;
			background: $pink;

			@include between(0, $screen-medium) {
				top: 94%;
				left: 0;
			}
		}
		i {
			display: block;
			font-size: 30px;

			@include between(0, $screen-medium) {
				font-size: 15px;

				&.icon-home {
					font-size: $font-size+6;
				}
			}
		}
	}

	&.home {
		a.home {
			&.current {
				left: 96%;
				animation: .4s linear navSlideDesktop;

				@include between(0, $screen-medium) {
					top: 0;
					left: 0;
					animation: none;
				}
			}
		}
		a.portfolio {
			left: 8%;

			@include between(0, $screen-medium) {
				top: 82%;
				left: 0;
			}
		}
		a.about {
			left: 4%;

			@include between(0, $screen-medium) {
				top: 88%;
				left: 0;
			}
		}
		a.contact {
			left: 0;

			@include between(0, $screen-medium) {
				top: 94%;
				left: 0;
			}
		}
	}

	&.portfolio {
		a.portfolio {
			&.current {
				left: 96%;
				animation: .4s linear navSlideDesktop;

				@include between(0, $screen-medium) {
					top: 0;
					right: 0;
					left: 0;
					animation: none;
				}
			}
		}
		a.home {
			left: 0%;
			z-index: 99;

			@include between(0, $screen-medium) {
				top: 94%;
				left: 0;
			}
		}
		a.about {
			left: 8%;
			z-index: 99;

			@include between(0, $screen-medium) {
				top: 82%;
				left: 0;
			}
		}
		a.contact {
			left: 4%;
			z-index: 99;

			@include between(0, $screen-medium) {
				top: 88%;
				left: 0;
			}
		}
	}

	&.about {
		a.about {
			&.current {
				left: 96%;
				right: 0;
				animation: .4s linear navSlideDesktop;

				@include between(0, $screen-medium) {
					top: 0;
					right: 0;
					left: 0;
					animation: none;
				}			
			}
		}
		a.portfolio {
			left: 0%; 
			z-index: 99;

			@include between(0, $screen-medium) {
				top: 94%;
				left: 0;
			}
		}
		a.home {
			left: 4%;
			z-index: 99;

			@include between(0, $screen-medium) {
				top: 88%;
				left: 0;
			}
		}
		a.contact {
			left: 8%;
			z-index: 99;

			@include between(0, $screen-medium) {
				top: 82%;
				left: 0;
			}
		}
	}

	&.contact {
		a.contact {
			&.current {
				left: 96%;
				right: 0;
				animation: .4s linear navSlideDesktop;

				@include between(0, $screen-medium) {
					top: 0;
					left: 0;
					animation: none;
				}
			}
		}
		a.home {
			left: 8%;
			z-index: 99;

			@include between(0, $screen-medium) {
				top: 82%;
				left: 0;
			}
		}
		a.portfolio {
			left: 4%;
			right: 4%;
			z-index: 99;

			@include between(0, $screen-medium) {
				top: 88%;
				left: 0;
			}
		}
		a.about {
			left: 0;
			right: 8%;
			z-index: 99;

			@include between(0, $screen-medium) {
				top: 94%;
				left: 0;
			}
		}
	}
}

#frame {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: black;
	color: #fff;

	.frame-content {
		position: fixed;
		z-index: 9;
		top: 8%;
		left: 2.5%;
		width: 95%;
		height: 86%;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		overflow: hidden;
		background: black;
		color: black;

		@include between(0, $screen-medium) {
			width: 92%;
			height: 92%;
			top: 6%;
			left: 4%;
			border-top-right-radius: 0;
			border-bottom-left-radius: 20px;
			animation: .4s linear allContentSlideMobile;
		}
		
		> article {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 8;
			overflow: hidden;

			&.home {
				> div {
					border: 20px solid $purple;
					border-right: none;
					animation: .4s linear articleSlideDesktop;

					@include between(0, $screen-medium) {
						left: 0;
						border: 10px solid $purple;
						animation: none;
					}

					::selection {
						background: $purple;
						text-shadow: none
					}
					.container {
						.track-vertical {
							background: rgba(131, 111, 255, 0.4);

							.thumb-vertical {
								z-index: 99;
								background: rgba(131, 111, 255, 0.4);
							}
						}
						.exp-details {
							display: none;
							animation: .4s linear grow;
						}
						.pro-exp {
							display: flex;
							justify-content: space-between;
							margin-left: -5px;
							cursor: pointer;

							&.open {
								+ .exp-details {
									display: block;
								}
							}
							.date {
							}
						}
					}
				}

				h1 {
					span {
						border-bottom: 10px solid $purple;
					}
				}
				h2 span {
					border-bottom: 6px solid $purple;
				}
				a {
					color: $purple;
				}
			}

			&.portfolio {
				> div {
					border: 20px solid $yellow;
					border-right: none;
					animation: .4s linear articleSlideDesktop;

					@include between(0, $screen-medium) {
						left: 0;
						border: 10px solid $yellow;
						animation: none;
					}

					::selection {
						background: $yellow;
						text-shadow: none;
					}
					.container {
						.track-vertical {
							background: rgba(255, 233, 0, 0.4);

							.thumb-vertical {
								z-index: 99;
								background: rgba(255, 233, 0, 0.4);
							}
						}
					}
				}
				.card {
					border-left: 10px solid $yellow;
				}
				h1 span {
					border-bottom: 10px solid $yellow;
				}
				h2 span {
					border-bottom: 6px solid $yellow;
				}
				a {
					color: black;
					text-decoration: underline;
				}
			}

			&.about {
				> div {
					border: 20px solid $blue;
					border-right: none;
					animation: .4s linear articleSlideDesktop;

					@include between(0, $screen-medium) {
						left: 0;
						border: 10px solid $blue;
						animation: none;
					}

					::selection {
						background: $blue;
						text-shadow: none;
					}

					.container {
						.track-vertical {
							background: rgba(0, 191, 255, 0.4);

							.thumb-vertical {
								z-index: 99;
								background: rgba(0, 191, 255, 0.4);
							}
						}
					}
				}
				h1 span {
					border-bottom: 10px solid $blue;
				}
				a {
					color: $blue;
				}
			}

			&.contact {
				> div {
					border: 20px solid $pink;
					border-right: none;
					animation: .4s linear articleSlideDesktop;

					@include between(0, $screen-medium) {
						left: 0;
						border: 10px solid $pink;
						animation: none;
					}

					::selection {
						background: $pink;
						text-shadow: none;
					}

					.container {
						.track-vertical {
							background: rgba(255, 20, 147, 0.4);

							.thumb-vertical {
								z-index: 99;
								background: rgba(255, 20, 147, 0.4);
							}
						}
						h1 span {
							border-bottom: 10px solid $pink;
						}
						a {
							color: $pink;
						}
						form {
							width: 100%;
							justify-content: space-between;

							> .flex {
								justify-content: space-between;

								> div {
									&:first-child {
										width: 48%;
									}
									&:last-child {
										width: 48%;
									}
								}
							}							
							
							input,
							textarea {
								width: 100%;
							}
							button {
								width: 50%;
								margin: 0 auto;
								background: $pink;
								color: black;
								border: 5px solid $pink;
								transition: .3s all ease-in-out;

								&:hover {
									background: black;
									color: white;
								}
							}
						}
					}
				}				
			}
		}

		.scroll-wrap {
			position: absolute;
			left: 12%;
			width: 84%;
			height: 100%;
			z-index: 9;
			overflow: hidden;
			background: white;

			@include between(0, $screen-medium) {
				width: 100%;
				height: 82%;
			}

			.container {
				width: 90%;
				height: 90%;

				.view {
					padding: 3% 10% 3% 8%;

					@include between(0, $screen-medium) {
						padding: 3% 5% 3% 3%;
					}

					h1 {
						margin: 1em 0;
						border-bottom: 3px solid black;

						span {
							display: inline-block;
							padding-bottom: 0px;
							margin-bottom: -3px;
						}
					}
					h2 {
						width: 50%;
						margin: 1em auto;
						text-align: center;
						border-bottom: 2px solid black;

						@include between(0, $screen-medium) {
							width: 75%;
						}

						span {
							display: inline-block;
							padding-bottom: 0px;
							margin-bottom: -2px;
						}
					}
				}
				.track-vertical {
					position: absolute;
					right: 0;
					width: 20px;
					height: 100%;
					background: red;
					transition: all .5s linear;

					@include between(0, $screen-medium) {
						display: none;
					}

					&.scrollbar-wait {
						visibility: hidden;
						opacity: 0;
					}
					&.scrollbar-show {
						opacity: 1;
						visibility: visible;
					}

					.thumb-vertical {
						width: 20px;
						height: 20px;
						background: yellow;
					}
				}
			}
		}
	}
}